<div class="bracket" id="cdtire">
  <%= image_tag 'cdtire.jpg' %>
  <p>$179.98</p>
</div>
<div class="bracket" id="trevino">
  <%= image_tag 'trevino.jpg' %>
  <p>$204.99</p>
</div>
<div class="bracket" id="terraza">
  <%= image_tag 'terraza.jpg' %>
  <p>$184.99</p>
</div>
<div class="bracket" id="lara">
  <%= image_tag 'lara.jpg' %>
  <p>$219.95</p>
</div>